body {
    margin: 0;
    font-family: Questrial, sans-serif;
    background-color: #000;
    color: #fff;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container2 {
    position: relative;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    text-align: left;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 15h;
	z-index: 1000;
}

.header p {
    margin: 5;
    font-size: 14px;
}

@media (max-width: 900px) {
    .header p {
        font-size: 12px;
    }
}

nav {
    position: absolute;
    top: 20px; /* ajustar par amover el menu mas abajo*/
    right: 10px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 10px;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white; /* Texto blanco */
    padding: 10px;
    display: block;
}

.menu a::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu a:hover::before,
.menu a.active::before {
    transform: scaleX(1);
}

.menu a.active {
    color: blue;
}

/* Estilos para el menú de toggle en pantallas pequeñas */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 900px) {
    .menu-toggle {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 50px;
        right: 10px;
        background: black;
        padding: 10px;
        border-radius: 5px;
    }

    .menu.active {
        display: flex;
        top: 1%; /* Movemos el menú hacia arriba para alinearlo con la parte superior */
        position: absolute;
        width: 100vw;
        justify-content: center; /* Alinea los elementos horizontalmente */
        align-items: center;
    }
}

@media (min-width: 901px) {
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu li {
        margin: 0 20px; /* Espacio entre elementos del menú */
    }
}

.hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 70vh;
    text-align: left;
    padding: 50px;
}

.hero-title h1 {
    font-size: 56px;
    margin: 0;
    line-height: 1.2;
    position: absolute;
    bottom: 100px;
    left: 20px;
}

.btn {
    width: max-content;
    border: none;
    display: flex;
    gap: 20px;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    padding-block: 6px;
    background: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .2s ease-in-out;
    position: absolute;
    bottom: 80px;
    left: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 50px;
}

.gallery-item img, .gallery-item video {
    width: 100%;
    border-radius: 5px;
}

.about {
    display: flex;
    padding: 30px;
    background-color: #111;
}

.about-title, .about-description {
    flex: 1;
}

.about-title {
	margin-left: 150px;
	font-size: 2em;
}
.about-description {
	margin-right: 150px;
	max-width: 600px;
	font-size: 14px;
}

.passengers-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.passengers-button:hover {
    background-color: blue;
}

@media (max-width: 900px) {
    .about {
        flex-direction: column;
        padding: 20px;
    }

    .about-title {
        /* Ajusta el título h2 al centro */
        text-align: left;
		margin-left: 20px;
		font-size: 1.6em;
    }

    .about-description {
        /* Alinea el párrafo de descripción a la izquierda */
        text-align: left;
		margin-right: 20px;
		margin-left: 20px;
    }
}

/* Pie de pagina */
.footer2 {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed; /* Agrega esta línea */
    bottom: 0; /* Para que el footer se quede fijo en la parte inferior */
}

.footer {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.social-icon {
    margin: 0 10px;
}

.social-icon img {
    width: 30px;
    height: 30px;
}
