body {
    margin: 0;
    font-family: Ubuntu;
    background-color: #000;
    color: #fff;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container2 {
    position: relative;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px;
    text-align: left;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 15h;
	z-index: 1000;
}

.header p {
    margin: 0;
    font-size: 1vw;
}

@media (max-width: 900px) {
    .header p {
        font-size: 12px;
    }
}

nav {
    position: absolute;
    top: 20px; /* ajustar par amover el menu mas abajo*/
    right: 10px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 10px;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white; /* Texto blanco */
    padding: 10px;
    display: block;
}

.menu a::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu a:hover::before,
.menu a.active::before {
    transform: scaleX(1);
}

.menu a.active {
    color: blue;
}

/* Menu social */
.social-icons-left {
    display: flex;
    align-items: center; /* Alinea los íconos verticalmente al centro */
    margin-left: 1vw; /* Utiliza vw para el margen izquierdo */
}

.social-icon-left img {
    margin-right: 1vw; /* Utiliza vw para el margen entre los íconos */
    width: 2vw; /* Utiliza vw para el ancho de los íconos */
    height: 2vw; /* Utiliza vw para la altura de los íconos */
}

.social-icon-leftbox img {
    margin-right: 1vw; /* Utiliza vw para el margen entre los íconos */
    width: 7vw; /* Utiliza vw para el ancho de los íconos */
    height: 2vw; /* Utiliza vw para la altura de los íconos */
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
    .social-icons-left {
        margin-left: 2vw; /* Ajusta el margen izquierdo para pantallas pequeñas */
    }

    .social-icon-left img {
        margin-right: 2vw; /* Ajusta el margen entre los íconos para pantallas pequeñas */
        width: 7vw; /* Ajusta el ancho de los íconos para pantallas pequeñas */
        height: 7vw; /* Ajusta la altura de los íconos para pantallas pequeñas */
    }

    .social-icon-leftbox img {
        margin-right: 2vw; /* Ajusta el margen entre los íconos para pantallas pequeñas */
        width: 15vw; /* Ajusta el ancho de los íconos para pantallas pequeñas */
        height: 5vw; /* Ajusta la altura de los íconos para pantallas pequeñas */
    }
}


/* Estilos para el menú de toggle en pantallas pequeñas */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 15%;
    right: 5%;
}

/* Menu hamburguesa*/
@media (max-width: 900px) {
    .menu-toggle {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 50px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.85);
        padding: 10px;
        border-radius: 5px;
    }

/*abierto */
    .menu.active {
        display: flex;
        top: 100%;
        position: absolute;
        width: 100vw;
        justify-content: center; /* Alinea los elementos horizontalmente */
        align-items: center;
    }
}

@media (min-width: 901px) {
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu li {
        margin: 0 20px; /* Espacio entre elementos del menú */
    }
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    height: 100vh;
    text-align: center;
    padding: 5vw; /* Utiliza vw para el padding */
}

.hero-title {
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Evita que el texto se desborde del contenedor */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto se desborda */
}

.hero-title h1 {
    font-size: 4vw; /* Utiliza vw para el tamaño de fuente */
    margin: 0;
    line-height: 1.2;
}

.hero-title p {
    max-width: 90vw; /* Utiliza vw para el ancho máximo */
    font-size: 1vw; /* Utiliza vw para el tamaño de fuente */
    margin: 0;
    line-height: 1.2;
    max-height: 50vh; /* Utiliza vh para la altura máxima */
}

.btn {
    font-size: 2vw; /* Utiliza vw para el tamaño de fuente */
    font-weight: 600;
    color: inherit; /* Hereda el color del texto del padre */
    text-decoration: none; /* Quita el subrayado del texto */
    cursor: pointer;
    margin: 2vw 0; /* Espacio entre el botón y otros elementos */
    display: flex;
    align-items: center; /* Alinea verticalmente el texto y el icono */
}

.btn span {
    display: flex;
    align-items: center;
}

.btn::after {
    content: ">"; /* Agrega el símbolo mayor que como contenido */
    margin-left: 5px; /* Espacio entre el texto y el icono */
}

/* Estilo al pasar el mouse por encima */
.btn:hover {
    color: blue; /* Cambia el color del texto al azul */
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
    .hero-title h1 {
        font-size: 10vw; /* Ajusta el tamaño de fuente */
    }

    .hero-title p {
        font-size: 5vw; /* Ajusta el tamaño de fuente */
    }

    .btn {
        font-size: 6vw; /* Ajusta el tamaño de fuente */
    }
}

.marketplaces {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si el espacio es insuficiente */
    padding: 10px;
    background-color: #111;
}

.marketplaces-item {
    flex: 0 0 33.33%; /*ancho de cada elemento para que ocupe un tercio del contenedor */
    padding: 10px; /* espacio entre elementos */
    box-sizing: border-box;
    text-align: center;
}

.marketplaces-item img {
    max-width: 50%; /*ancho máximo de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
    .marketplaces {
        justify-content: space-around; /* Distribuye los elementos equitativamente con espacios alrededor */
        align-items: center; /* Centra los elementos verticalmente */
    }

    .marketplaces-item {
        flex-basis: 40%; /* Ajusta el ancho de cada elemento para que ocupe un 40% del contenedor */
    }
}

.gallerymenu {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.gallerymenu-item {
    margin: 0 15px;
    padding: 10px 0;
    color: #000;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.gallerymenu-item:hover,
.gallerymenu-item.active {
    border-bottom: 2px solid #000;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #111;
}

.gallery-item img, .gallery-item video {
    width: 100%;
    border-radius: 5px;
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en móviles */
        gap: 1vw; /* Ajusta el espacio entre elementos */
        padding: 2vw; /* Ajusta el padding para móviles */
    }

    .gallery-item img, .gallery-item video {
        width: 100%;
        border-radius: 0; /* Sin borde redondeado para un look de cuadrícula más ajustado */
    }

    .gallerymenu {
        flex-direction: column;
        align-items: center;
    }

    .gallerymenu-item {
        margin: 5px 0;
    }
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    margin: auto;
    background-color: white;
    width: 80%;
    max-width: 1000px;
    height: 50%;
	max-height: 85vh;
    display: flex;
    flex-direction: row;
	top: 10%; /* Añade esta línea para bajar la ventana modal */
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo cuadrado y transparente */
    padding: 10px; /* Espacio alrededor del texto */
    border-radius: 3px; /* Borde redondeado */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.close:hover {
    color: blue; /* Cambia el color a azul cuando se coloca el cursor encima */
}

.close:active {
    color: blue; /* Cambia el color a azul cuando se hace clic */
}

.modal-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.modal-image-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.modal-video-container {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.modal-video {
    width: 100%;
    height: 100%;
}

.modal-details {
    padding: 10vh;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
	overflow-y: auto;
	top: 20%;
}

.modal-details .modal-description, .modal-details .modal-button {
    margin: 10px 0;
}


/* Media Query for mobile devices */
@media (max-width: 600px) {
    .modal-content {
        flex-direction: column;
		width: 95%;
		height: 95%;
		max-height: auto;
        top: 10%;
    }

    .modal-image-container,
    .modal-video-container {
        width: 100%;
        height: 100%;
    }

    .modal-details {
        width: 100%;
        padding: 5vh;
    }

    .modal-video {
        height: 100%;
    }
}


.about {
    display: flex;
    padding: 3vw; /* Utiliza vw para el padding */
    background-color: #111;
}

.about-title, .about-description {
    flex: 1;
}

.about-title {
    margin-left: 5vw; /* Utiliza vw para el margen */
    font-size: 2vw; /* Utiliza vw para el tamaño de fuente */
}

.about-description {
    margin-right: 5vw; /* Utiliza vw para el margen */
    max-width: 70vw; /* Utiliza vw para el ancho máximo */
    font-size: 1vw; /* Utiliza vw para el tamaño de fuente */
}

.passengers-button {
    display: inline-block;
    padding: 1vw 2vw; /* Utiliza vw para el padding */
    background-color: transparent;
    border: 0.1vw solid #ccc; /* Utiliza vw para el grosor del borde */
    border-radius: 0.5vw; /* Utiliza vw para el radio de borde */
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.passengers-button:hover {
    background-color: blue;
}


/* Media query para dispositivos móviles */
@media (max-width: 480px) {
    .about {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        padding: 5vw; /* Ajusta el padding */
    }

    .about-title {
        margin-left: 0; /* Reinicia el margen izquierdo */
        margin-bottom: 3vw; /* Agrega margen inferior */
        font-size: 4vw; /* Ajusta el tamaño de fuente */
    }

    .about-description {
        margin-right: 0; /* Reinicia el margen derecho */
        font-size: 3vw; /* Ajusta el tamaño de fuente */
    }

    .passengers-button {
        padding: 3vw 6vw; /* Ajusta el padding */
        font-size: 3vw; /* Ajusta el tamaño de fuente */
    }
}

.footer2 {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1vw 0; /* Utiliza vw para el padding */
    width: 100%; /* Utiliza vw para el ancho */
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

.footer {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1vw 0; /* Utiliza vw para el padding */
    width: 100%; /* Utiliza vw para el ancho */
    box-sizing: border-box;
}

.social-icon {
    margin: 0 0.5vw; /* Utiliza vw para el margen */
}

.social-icon img {
    width: 2vw; /* Utiliza vw para el ancho */
    height: 2vw; /* Utiliza vw para la altura */
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
    .footer2, .footer {
        padding: 5vw 0; /* Ajusta el padding */
    }

    .social-icon {
        margin: 0 2vw; /* Ajusta el margen */
    }

    .social-icon img {
        width: 10vw; /* Ajusta el tamaño de la imagen */
        height: 10vw; /* Ajusta el tamaño de la imagen */
    }
}
