@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    background-color: black;
    color: black;
    width: 25%;
    height: 100%; /* Añadido para ocupar toda la altura */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Cambiado de space-between a space-around */
}

.logo img {
    width: 10vw; /* Adjust as needed */
    margin-top: 60%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los enlaces horizontalmente */
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 2vw;
    margin: 1vw 0;
    font-family: "Bebas Neue", sans-serif;
}

.social {
    margin-bottom: 5%;
    width: 80%;
    display: flex; /* Cambiado de inline a flex */
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Añadido para centrar horizontalmente */
    gap: 2vw; /* Espacio entre los íconos */
}

.social img {
    width: 1.5vw; /* Adjust as needed */
    height: 1.5vw; /* Adjust as needed */
}

.main-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.blue-container {
    width: 100%;
    height: auto; /* Ajustado para mantener la altura dinámica */
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.collect-container {
    position: absolute;
    bottom: 12%;
    right: auto;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromBottom 1s ease forwards; /* Aplicar la animación */
}

.collect-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 1vh 3vw; /* Use vh and vw for responsive padding */
    cursor: pointer;
    font-size: 1vw;
    border-radius: 0.5vw;
    transition: transform 0.3s ease; /* Transición suave para el efecto de agrandamiento */
}

.collect-button:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el cursor */
}

.collect-button::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1vw;
    border-radius: 1vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: normal; /* Permite que el texto ocupe múltiples líneas */
    font-size: 0.75vw;
    width: 25vw; /* Ajusta el ancho máximo de la burbuja según sea necesario */
    text-align: left; /* Alinea el texto al centro */
    line-height: 1.5; /* Ajusta el espaciado entre líneas */
    z-index: 1;
}

.collect-button:hover::before {
    opacity: 1; /* Mostrar la burbuja al pasar el ratón por encima del botón */
}

.new-drop-buttom-container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 25%;
    height: 10%;
    text-align: center;
    border-radius: 0.5vw 0.5vw 0 0;
}

.new-drop-buttom-container img {
    height: 3vw; /* Ajusta la altura según sea necesario */
    width: auto; /* Mantén la relación de aspecto */
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.art-artworks {
	display: none;
}	

@media (max-width: 768px) {
	body {
    background-color: black;
    }
    .container {
        flex-direction: column; /* Cambia a dirección columna para dispositivos pequeños */
        width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
        height: 100%; /* Altura automática para ajustar al contenido */
        overflow-y: auto; /* Permite scroll vertical si es necesario */
    }
    
    .sidebar {
        width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
        height: 100%; /* Altura automática para ajustar al contenido */
        overflow-y: auto; /* Permite scroll vertical si es necesario */
    }

    .logo img {
        width: 15vw; /* Adjust as needed */
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra los enlaces horizontalmente */
		padding: 10% 0;
    }

    .menu a {
        color: white;
        text-decoration: none;
        font-size: 12vw;
        margin: 5vw 0;
        font-family: "Anton", sans-serif;
    }

    .social {
        gap: 5vw; /* Espacio entre los íconos */
        margin-top: 0%; /* Espacio arriba del grupo de íconos */
    }

    .social img {
        width: 8vw; /* Adjust as needed */
        height: 8vw; /* Adjust as needed */
    }

    .main-content {
        display:none;
    }
	
	

    .art-artworks {
		display: block;
        padding: 5vw;
    }
	
	.artwork-item {
    position: relative;
    width: 100%;
    padding-bottom: 70%; /* Proporción 2:1 */
    overflow: hidden;
}
	
    .artwork-grid {
        grid-template-columns: repeat(1, 2fr);
        margin-left: 4%;
        margin-right: 4%;
		gap: 5vw;
		background-color: transparent;
    }
	
	.artwork-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	padding-top: 5%;
    }
}
