@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
	overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    background-color: black;
    color: black;
    width: 25%;
    height: 100%; /* Añadido para ocupar toda la altura */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Cambiado de space-between a space-around */
}

.logo img {
    width: 10vw; /* Adjust as needed */
    margin-top: 60%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los enlaces horizontalmente */
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    margin: 1vw 0;
    font-family: "Bebas Neue", sans-serif;
}

.social {
    margin-bottom: 5%;
    width: 80%;
    display: flex; /* Cambiado de inline a flex */
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Añadido para centrar horizontalmente */
    gap: 2vw; /* Espacio entre los íconos */
}

.social img {
    width: 1.5vw; /* Adjust as needed */
    height: 1.5vw; /* Adjust as needed */
}

/* Contenedor principal de la galería */
.blue-container {
    width: 100%;
    height: 100vh; /* Ocupa la altura completa de la pantalla */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido al inicio para permitir desplazamiento */
    overflow-y: auto; /* Habilita desplazamiento vertical */
    padding: 10vh 10vh 10vh 10vh;
    box-sizing: border-box;
}

/* Galería estilo Masonry */
.gallery {
    column-count: 3; /* Número de columnas de la galería */
    column-gap: 10px; /* Espacio entre las columnas */
    width: 100%;
}

/* Cada contenedor de imagen */
.gallery .image-container {
    margin-bottom: 10px; /* Espacio entre imágenes verticalmente */
    break-inside: avoid; /* Evita que las imágenes se corten al final de una columna */
    overflow: hidden;
    background-color: #000; /* Fondo para las imágenes recortadas */
}

/* Imágenes dentro del contenedor */
.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Recorta la imagen para llenar el contenedor */
    display: block; /* Asegura que las imágenes se comporten correctamente en el flujo */
}


.art-artworks {
	display: none;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Modal styles */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
	box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
    max-height: 98vh; /* Limita la altura máxima a un porcentaje de la altura de la ventana */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.modal img {
    width: 100%;
    height: auto;
    display: block; /* Mostrar imagen */
    max-height: 98vh; /* Ajusta la altura máxima de la imagen */
    object-fit: contain; /* Asegura que la imagen se ajuste sin cortar */
}

.modal iframe {
    width: 100%;
    height: auto;
    display: block; /* Mostrar imagen o iframe */
	max-height: 98vh; /* Ajusta la altura máxima de la imagen */
	object-fit: contain; /* Ajusta la imagen para contener dentro del contenedor sin cortar */
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
	z-index: 2; /* Asegura que el botón esté por encima del contenido */
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 768px) {
	body {
    background-color: black;
	overflow-y: auto;
    }
    .container {
        flex-direction: column; /* Cambia a dirección columna para dispositivos pequeños */
        width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
        height: 100%; /* Altura automática para ajustar al contenido */
        overflow-y: auto; /* Permite scroll vertical si es necesario */
    }
    
    .sidebar {
        width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
        height: 100%; /* Altura automática para ajustar al contenido */
        overflow-y: auto; /* Permite scroll vertical si es necesario */
    }

    .logo img {
        width: 15vw; /* Adjust as needed */
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra los enlaces horizontalmente */
		padding: 10% 0;
    }

    .menu a {
        color: white;
        text-decoration: none;
        font-size: 12vw;
        margin: 5vw 0;
        font-family: "Anton", sans-serif;
    }

    .social {
        gap: 5vw; /* Espacio entre los íconos */
        margin-top: 0%; /* Espacio arriba del grupo de íconos */
    }

    .social img {
        width: 8vw; /* Adjust as needed */
        height: 8vw; /* Adjust as needed */
    }

    .blue-container {
        display:none;
    }
	
	.art-artworks {
		display: block;
        padding: 5vw;
    }
	
	.artwork-item {
    position: relative;
    width: 100%;
    padding-bottom: 70%; /* Proporción 2:1 */
    overflow: hidden;
}
	
    .artwork-grid {
        grid-template-columns: repeat(1, 2fr);
        margin-left: 4%;
        margin-right: 4%;
		gap: 5vw;
		background-color: transparent;
    }
	
	.artwork-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	padding-top: 5%;
    }
	/* Estilo específico para dispositivos móviles */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        max-width: none;
        margin: 10px;
        padding: 10px;
        max-height: 80vh;
    }
}
